body{
    background-image: url(imagen1.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 5px 5px ;
    border-radius: 20px;
}


@media (min-width: 600px) {
    input[type="text"] {
        width: 80%;
        font-size: 18px;
    }
}

/* Media query para pantallas aún más grandes */
@media (min-width: 1200px) {
    input[type="text"] {
        width: 80%;
        font-size: 20px;
    }
}

.todo-list {
    padding: 50px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
   background: aqua;
    font-size: 16px;
    padding: 10px;
    margin: 5px 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

li input[type="checkbox"] {
    margin-right: 10px;
}

li span {
    flex-grow: 1;
    text-align: center;
}

.edit-button, .delete-button {
    background: green;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5px;
}

.delete-button{
    background: red;
}


button{
    background: blue;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
}
